In [1]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
# custom python file that converts sql query into a pandas dataframe
from app.db_operations import readData

In [29]:
df = pd.read_csv("/Users/godfather/Desktop/Software/spotifyWebApi/app/data/spotify_dataset.csv",skiprows=1,
                         names=['user_id', 'artistname', 'trackname', 'playlistname'],
                         on_bad_lines='skip')
df = df.sample(n=1000000, random_state=42)
df.head()

NameError: name 'readData' is not defined

In [30]:
df.dropna(inplace=True)
df.isnull().sum()
df[df.duplicated()]

Empty DataFrame
Columns: [user_id, artistname, trackname, playlistname]
Index: []

In [31]:
# dropping the duplicates
df = df.drop_duplicates(keep='first')
df

,user_id,artistname,trackname,playlistname
7578551,5c2b840d66d02ac7aa6a069eddd17f48,Spice Girls,Wannabe - Radio Edit,Lol HiGh Sk00l MeMorIeZ
911963,6da651f45aac18e5da52433aa3c38947,Flying Lotus,Descent Into Madness (feat. Thundercat),Best of 2014
8049506,20350023c94899ce25cd1a86ea385853,Kristin Hersh,Your Ghost,Ladies. All the ladies.
11247838,f9809d1afbab1b0aaa0c2f678a90752a,Rotary Connection,This Town,To listen to
6160700,db9646b77f3a677040b9140489da16f1,Bastille,Pompeii,Starred
...,...,...,...,...
6582613,4398de6902abde3351347b048fcdc287,R.E.M.,We All Go Back To Where We Belong,Library & Streams (Part 3)
9249291,c29b084662cabc7ac2207653898ca0b3,Cazwell,I Seen Beyoncé…,Starred
5956985,1c43b609f0b4a55de35803000c86ade0,Thrice,Anthology,Starred
5334844,7eaeda7c7f9a73f23e43ddfe786e8518,Colin Hay,Waiting For My Real Life To Begin,running 2012
9057079,277a3201c34aa4947e34a8290b997440,Bob Marley & The Wailers,Easy Skanking,Dave Day

In [36]:
# this df returns how many playlists a track appears
result_df = df.groupby(['trackname', 'artistname']).size().to_frame('count').reset_index()
max_count = result_df['count'].max()
# and this gives us the maximum result
max_result_df = result_df[result_df['count'] == max_count]
max_result_df

            trackname artistname  count
282018  Midnight City        M83    216